@charset "UTF-8";

body {
    font-family: 'Sono', sans-serif;
  }

  .pricing-container {
      height: 97vh;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      gap: 15px;
    }

  .pricing-plan {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    
    padding: 10px;
    height: 225px;
    max-width: 300px;
    
  }

  .plan-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    
  }

  .plan-price {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
  }

  .plan-features {
    list-style-type: none;
  }

  ul {
    padding: 0px;
  }

  li {
    margin-bottom: 10px;
    text-align: center;
  }

  button {
    background-color: rgb(249, 180, 52);
    color: white;
    border-radius: 5px;
    width: 60px;
    height: 50px;
    align-self: center;
    border: none;
  }


  /* Hint: What can you do with a media query and flexbox? */
  @media (max-width: 1250px) {
    .pricing-container {
      margin: 25px 0px 25px 0px;
      height: 100%;
      flex-direction: column;
    }
  }